body{
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  margin: 0%; 
}

.orange-color{
  color: orange;
}
.flexible-container{
  display: flex;
  margin-bottom: 100px;
  
}
.half-width{
  width: 50%;  
}

.half-width img{
  width: 70%;
}
.button{
  background-image:linear-gradient( orange ,tomato);
  text-decoration: none;
  padding: 10px 30px;
  border: 2px solid red;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.top-banner{
  background-image: url('../image/top-banner.png');
  background-repeat: no-repeat;
}
.dream-big{
  background-image: url('../image/dream-bg.png');
  background-repeat: no-repeat;
  background-position: right;
}
.experience-item{
  box-shadow: 10px 10px 40px gray;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  border-radius: 10px;
  border-left: 7px solid;
  border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
  border-image-slice: 1;
}
.experience-area{
  background-image: url('../image/exp-bg.png');
  background-repeat: no-repeat;
}
footer{
  text-align: center;
}  
 


  