body{
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  margin: 0%;
  
}
.orange-color{
  color: orange;
}
section{
  display: flex;
  margin-bottom: 100px;
  
}
.half-width{
  width: 50%;
  
}
.half-width img{
  width: 70%;
}
.button{
  background-image:linear-gradient( orange ,tomato);
  text-decoration: none;
  padding: 10px 30px;
  border: 2px solid red;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.top-banner{
  background-image: url('../image/top-banner.png');
  background-repeat: no-repeat;
}
.dream-big{
  background-image: url('../image/dream-bg.png');
  background-repeat: no-repeat;
  background-position: right;
}